<!--
  _despliega_partes.html.erb

    Es el código para desplegar las tarjetas de FORMULARIO y TABAL DE PARTES. 
    Es común denominador para todos las acciones (ACTIONS) del controlador parts.
    "new" y "edit" requieren de formulario pero la tabla no tiene ligas. En la tarea edit 
    también se despliega liga para borrar el regisro.
    "index" y "show" no necesitan el formulario. show no requiere de la entrada de búsqueda.

    Recibe como argumento:
      formulario: 
        true - Despliega el formulario. PARTES puede esconder el formulario.
        false - No despliega formulario y PARTES es igual al inicio.
      alta: 
        true - El formulario presenta tecla (submit) para una alta nueva.
        false - El formulario presenta tecla (submit) para una modificación de registro existente.
                Tambiénb presenta liga para borrar el registro.
      todos:
        true - Despliega la tabla de PARTES completa.
        false - Despliega solo el registro indicado.

-->

<!-- Contenedor para las tarjetas de Formulario y Tabla de Partes -->
<div id="part" class="w3-container w3-padding-64 w3-light-grey" >
	<div class="w3-row-padding" >

    <% if formulario %> <!-- Solo si requiere formulario -->

      <!-- 
           Tarjeta del Formulario 
      -->
      <div id="formulario" class="w3-container w3-third w3-padding-16" >
        <div class="w3-card-4" > 
          <div class="w3-container w3-teal w3-center" >
            <h4>Formulario</h4>		
          </div>

          <%= form_with model: @part do |form| %>
            
            <div class="w3-container w3-padding">
              <%= form.label :num_parte %><br>
              <%= form.text_field :num_parte, class: "w3-input", placeholder: "obligatorio" %>
              <% @part.errors.full_messages_for(:num_parte).each do |message| %>
                <div><%= message %></div>
              <% end %>
            </div>
            
            <div class="w3-container w3-padding">
              <%= form.label :nombre %><br>
              <%= form.text_field :nombre, class: "w3-input", placeholder: "obligatorio" %>
              <% @part.errors.full_messages_for(:nombre).each do |message| %>
                <div><%= message %></div>
              <% end %>
            </div>

            <div class="w3-container w3-padding">
              <%= form.label :planta %><br>
              <%= form.collection_select :plant_id,  Plant.order(:nombre), :id, :nombre, {}, class: "w3-select" %>
              <% @part.errors.full_messages_for(:plant_id).each do |message| %>
                <div><%= message %></div>
              <% end %>
            </div>

            <br>

            <!-- Esta sección resuelve el tipo de tecla según sea alta o modifica -->
            <div class="w3-container w3-padding-16 w3-center">
            
              <% if alta %>

                <%= form.submit name="Dar de Alta", class: "w3-button w3-large w3-gray w3-hover-teal" %>
              
              <% else %>

                <div class="w3-cell-row w3-large">
                  <div class=" w3-cell w3-cell-middle w3-center">
                    <%= form.submit name="Modificar", 
                        data: { confirm: "Deseas MODIFICAR la parte: "+@part.nombre+" ?" },
                        class: "w3-button  w3-gray w3-hover-teal" %>
                  </div>
                  <div class=" w3-cell w3-cell w3-cell-middle w3-medium w3-center">
                    <%= link_to "Borrar", part_path(@part), method: :delete,
                        data: { confirm: "Deseas BORRAR la parte: "+@part.nombre+" ?" },
                        class: "w3-button w3-gray w3-hover-red" %>
                  </div>
                </div>
                
              <% end %>

            </div>
            
            
          <% end %> <!-- fin de la forma -->

        </div> <!-- Termina la tarjeta del formulario -->
      </div> <!-- Termina el contenedor de tarjeta de Formulario -->

    <% end %>  <!-- fin del if de formulario -->

		<!-- 
         Tarjeta de la tabla de Partes 
    -->
		<div class="w3-container w3-rest w3-padding-16">
			<div class="w3-card-4">
				
				<!-- En modo formulario no se despliega la entrada de búsqueda -->
        <div class="w3-cell-row w3-padding w3-teal w3-xlarge">

  				<% if formulario || todos == false %>

            <div class="w3-container w3-cell w3-cell-middle w3-large">
              <a id="flecha"  title="Expande ó contrae la tabla" class="w3-button w3-hide-small w3-text-black w3-hover-text-light-grey" 
                  onclick="flecha('#formulario',this.id)">&#10094;&#10094;</a>
            </div>
            <div class="w3-container w3-cell w3-cell-middle w3-center">
              <a><strong>PIEZAS</strong></a>  	
            </div>
            <div class="w3-container w3-cell w3-cell-middle w3-center w3-large">
              <a href="/parts" type="submit" title="Regresa a PIEZAS" class=" w3-button w3-text-black w3-hover-text-light-grey"><i class="fa fa-reply-all"></i></a>
            </div>

          <% else  %>

            <div class="w3-container w3-cell w3-cell-middle">
              <a id="nuevo" href="/parts/new"  title="Dar de alta" class="w3-button w3-text-black w3-hover-text-light-grey " >
                  <i class="fas fa-cogs"></i> +</a>
            </div>
            <div class="w3-container w3-cell w3-cell-middle w3-center">
              <a><strong>PIEZAS</strong></a>  	
            </div>
            <div class="w3-container w3-cell w3-cell-middle w3-center" >
              <form >
                <input  type="text" name="busca" size="5" class="w3-cell w3-cell-middle w3-medium" placeholder="<%= @secCaracteres %>">							
                
                <button href="/parts" type="submit"  class=" w3-cell w3-cell-middle w3-button w3-medium"><i class="fa fa-search"></i></a>
              </form>
            </div>
          
          <% end %>
				
        </div>

				<!-- Espacio para generar la tabla parts -->
				<div id="tabla_part" class="w3-center" style="overflow:scroll; height:450px;">
					
          <% if todos %> <!-- La tabla despliega todos los registros -->
            
            <table class="w3-table-all w3-medium w3-hoverable">
              <tr>
                <th class="barrafija">ID</th>
                <th class="barrafija">NÚMERO DE PARTE</th>
                <th class="barrafija">NOMBRE</th>
                <th class="barrafija">PLANTA</th>
              </tr>
              <% @parts.each do |part| %>
                <tr>

                  <% if formulario %> <!-- En modo formulario los elementos de la tabla no tienen liga -->
                    <td>	<%= part.id %> </td>
                  <% else %>
                    <!-- td>	<a href="/parts/<%= part.id%>/edit"> <%= part.id %> </td -->
                    <td title="Modifica datos de esta pieza"> <%= link_to part.id, edit_part_path(part), class: "w3-btn w3-light-blue w3-round" %> </td>
                  <% end %>
                  <td>	<%= part.num_parte %> </td>
                  <td>	<%= part.nombre %> </td>
                  <td>	<%= part.plant.nombre %> </td>
                </tr>
              <% end %>
            </table>
            
          <% else %> <!-- La tabla despliega solo un registro, ya sea por show,  alta o modificación -->
            
            <table class="w3-table-all w3-medium w3-hoverable">
              <tr>
                <th class="barrafija">ID</th>
                <th class="barrafija">NÚMERO DE PARTE</th>
                <th class="barrafija">NOMBRE/th>
                <th class="barrafija">PLANTA</th>
              </tr>
              <tr>
                <% if formulario %>
                  <td>	<%= @part.id %> </td>
                <% else %>
                  <td>	<a href="/parts/<%= @part.id %>/edit"> <%= @part.id %> </td>
                <% end %>
                <td>	<%= @part.num_parte %> </td>
                <td>	<%= @part.nombre %> </td>
                <td>	<%= @part.plant.nombre %> </td>
              </tr>
            </table>

					<% end %>
					
				</div>
         <% if todos %>
         <div class="w3-container w3-medium w3-center apple_pagination">
            <%= will_paginate %>
          </div>
        <% end %>
			</div>
		</div> <!-- Termina tarjeta de la tabla de Parts -->
	</div>
</div>	<!-- Fin del contenedor: Parts -->
<div class="w3-container w3-padding-64">
  <%= column_chart Part.group(:plant_id).count, xtitle: "ID de la planta", ytitle: "Cantidad de partes" %>
</div>